<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Danging App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (accountService.currentUser()) {
          <li class="nav-item">
            <a routerLink="/members" routerLinkActive="active" class="nav-link active">MatChes</a>
          </li>
          <li class="nav-item">
            <a routerLink="/lists" routerLinkActive="active" class="nav-link active">Lists</a>
          </li>
          <li class="nav-item">
            <a routerLink="/messages" routerLinkActive="active" class="nav-link active">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/errors'routerLinkActive='active' >Errors</a>
        </li>
        }
      </ul>

    @if (accountService.currentUser()) {
      <div class="dropdown">
        <img
        class="me-2"
        src="{{accountService.currentUser()?.photoUrl ||
        'https://res.cloudinary.com/dqfmh4yif/image/upload/v1741941116/Dating-app/bqgtq2hhpu0xcdjfmj2d.png'}}"
        alt="user main image">
        <a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{accountService.currentUser()?.username | titlecase}}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="member/edit">Edit profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    }

    @if (!accountService.currentUser()) {
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
        <input name="Username"
         [(ngModel)]="model.username"
          class="form-control me-2"
          placeholder="Username">
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          placeholder="Password"
          type="password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    }
    </div>
</nav>
